body {
    background-image: url("../imgs/camera-background.jpg")
}

button {
    color: white;
    background-color: black;
    border: 4px solid white;
    border-radius: 5px;
    padding: 5px;
    font-size: 125%;
    margin: 10px auto;
    cursor: pointer
}

.container {
    color: white;
    width: 66%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
}

.quote-container {
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid white;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 66%;
    margin: 10px auto;
    border-radius: 10px;
}

.add-movie-quote {
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid white;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 66%;
    margin: 10px auto;
    border-radius: 10px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
